/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd; /* Fundo claro e clean */
    color: #333; /* Cor de texto suave */
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #ff69b4; /* Rosa feminino e elegante */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilo principal */
main {
    padding: 20px;
}

h2 {
    font-size: 1.5em;
    color: #ff69b4;
    margin-bottom: 15px;
}

/* Seções */
section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Formulário de contato */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #e75480; /* Um tom mais escuro ao passar o mouse */
}
.sobre{
    text-align: justify;
}

